<br>
<!--<h1 class="display-1 mt-0 mb-4" fxLayout="row" fxLayoutAlign="start center">
    <span  class="block">Mes documents</span>
</h1>
-->
<div class="text-left mt-2 mb-1 container">
     <mat-card class="max-w-full">
        <mat-card-header>
            <mat-card-title>
                <h2 class="display-1 mt-0 mb-4 ">Vos documents!</h2>
            </mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
            <h3>Ils seront accessibles dans cet espace.</h3>
            <br><br>
            
            
           
            <div class="vex-mail-compose-attachment my-2 rounded-full border px-4 py-1 flex items-center hover:bg-hover transition duration-200 ease-in-out cursor-pointer relative"
                matRipple>
                <ic-icon [icon]="icCloudDownload" class="flex-none text-primary" size="18px"></ic-icon>
                <p class="flex-auto ml-4 text-sm">facture.pdf</p>
            
                <p class="text-sm text-secondary mr-2 flex-none">16kb</p>
                
            </div>
            <div class="vex-mail-compose-attachment my-2 rounded-full border px-4 py-1 flex items-center hover:bg-hover transition duration-200 ease-in-out cursor-pointer relative"
                matRipple>
                <ic-icon [icon]="icCloudDownload" class="flex-none text-primary" size="18px"></ic-icon>
                <p class="flex-auto ml-4 text-sm">inscription.pdf</p>
            
                <p class="text-sm text-secondary mr-2 flex-none">16kb</p>
            
            </div>
            <div class="vex-mail-compose-attachment my-2 rounded-full border px-4 py-1 flex items-center hover:bg-hover transition duration-200 ease-in-out cursor-pointer relative"
                matRipple>
                <ic-icon [icon]="icCloudDownload" class="flex-none text-primary" size="18px"></ic-icon>
                <p class="flex-auto ml-4 text-sm">campus_france.pdf</p>
            
                <p class="text-sm text-secondary mr-2 flex-none">16kb</p>
            
            </div>
              
           
            
            
        </mat-card-content>
        <mat-card-actions>
            
        </mat-card-actions>

    </mat-card>

    



</div>