<br>
<h1 class="display-1 mt-0 mb-4" fxLayout="row" fxLayoutAlign="start center">
    <span class="block">Nos partenaires</span>
</h1>
<div class="text-left mt-2 mb-1 container">
    <mat-card class="max-w-full">
        <mat-card-header>
          
            <mat-card-subtitle>
                PARTENAIRE
            </mat-card-subtitle>
            <mat-card-title>Partenaire 1</mat-card-title>
            
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
         
            <p>Piqued favour stairs it enable exeter as seeing. Remainder met improving but engrossed sincerity age.
                Better but length gay denied abroad are. Attachment astonished to on appearance imprudence so collecting
                in
                excellence. Tiled way blind lived whose new. The for fully had she there leave merit enjoy forth. </p>
        </mat-card-content>
        <mat-card-actions>
            <div fxLayout="row">
                <button color="primary" mat-icon-button>
                  
                </button>
                <button color="accent" mat-icon-button>
                   
                </button>
                <span fxFlex></span>
                
                <button color="primary" mat-button>Découvir</button>
            </div>
        </mat-card-actions>
    </mat-card>
    
    <mat-card class="max-w-full">
        <mat-card-header>
          
            <mat-card-subtitle>
                PARTENAIRE
            </mat-card-subtitle>
            <mat-card-title>Partenaire 2</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
            <p>Piqued favour stairs it enable exeter as seeing. Remainder met improving but engrossed sincerity age.
                Better but length gay denied abroad are. Attachment astonished to on appearance imprudence so collecting
                in
                excellence. Tiled way blind lived whose new. The for fully had she there leave merit enjoy forth. </p>
        </mat-card-content>
       
        <mat-card-actions>
            <div fxLayout="row">
                <button color="primary" mat-icon-button>
    
                </button>
                <button color="accent" mat-icon-button>
    
                </button>
                <span fxFlex></span>
                
                <button color="primary" mat-button>Découvir</button>
            </div>
        </mat-card-actions>
    </mat-card>
   
    <mat-card class="max-w-full">
        <mat-card-header>
          
            <mat-card-subtitle>
                PARTENAIRE
            </mat-card-subtitle>
            <mat-card-title>Partenaire 3</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
            <p>Piqued favour stairs it enable exeter as seeing. Remainder met improving but engrossed sincerity age.
                Better but length gay denied abroad are. Attachment astonished to on appearance imprudence so collecting
                in
                excellence. Tiled way blind lived whose new. The for fully had she there leave merit enjoy forth. </p>
        </mat-card-content>
       
        <mat-card-actions>
            <div fxLayout="row">
                <button color="primary" mat-icon-button>
    
                </button>
                <button color="accent" mat-icon-button>
    
                </button>
                <span fxFlex></span>
                
                <button color="primary" mat-button>Découvir</button>
            </div>
        </mat-card-actions>
    </mat-card>
   
</div>